.signInModal {
  &__content {
    label::before {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 25%;
      border: 1px solid black;
      font-size: 1.2rem;
    }

    input:checked + label::before {
      background-color: rgba(125, 211, 252, 1);
      content: "\2713";
    }
  }
}
